td.td-cell {
    /*vertical-align: top!important;*/
    height: 51px!important;
    min-height: 51px!important;
    max-height: 51px!important;
}
.control-label {
    font-family: Montserrat-light;
}
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f100;
}
/* Style the buttons inside the tab */
.tab button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #313132!important;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 5px 20px!important;
    transition: 0.3s;
    font-size: 17px;
    font-family: Montserrat-Light;
    font-weight: bold;
}
/* Change background color of buttons on hover */
.tab button:hover {
    color: gold!important;
    background-color: #0297df;
}
/* Create an active/current tablink class */
.tab button.active {
    color: gold!important;
    background-color: #0297bf!important;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #cccccc3d;
    min-height: 600px;
}
.show {
    display: block;
}
.search_input {
    background-image: url('../assets/images/icon/searchicon.png');
    background-position: 10px 15px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    color: white;
    background-color: transparent;
}
select.form-control {
    height: 30px!important;
    background-color: transparent;
    color: white;
}
.form-control {
    padding: .3rem .75rem;
    height: 30px;
}
input[type="search"] {
    background: #56e2c900;
    color: #fff;
    width: calc(100% - 50px);
}
#other_sell_table_wrapper, #other_buy_table_wrapper {
    margin-top: 4px!important;
}
#other_sell_table, #other_buy_table, #star_table {
    width: 100%;
    border: 1px solid white;
    max-height: 500px;
    margin-top: -5px!important;
}
#other_buy_table thead tr, #other_sell_table thead tr, #star_table thead tr {
    background-color: #0297bf;
    /*height: 32px;*/
    padding: 5px;
}
.st-sort-ascent:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after{
    /*content: '\25B2';*/
    display: none;
}
.st-sort-descent:before, table.dataTable thead .sorting_desc:after{
    /*content: '\25BC';*/
    display: none;
}
#other_sell_table_wrapper .row, #other_buy_table_wrapper .row, #star_table_wrapper .row {
    width: 110%;
}
table.dataTable tr {
    border-bottom: 1px solid #ddd!important;
    cursor: pointer;
}
.table-bordered>tbody>tr>td {
    padding: 0;
    border-bottom: 1px solid grey!important;
    padding-top: 1px;
}
/* Set a style for all buttons */
.sell-button {
    background-color: #f44336;
    color: white;
    padding: 7px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    font-family: Montserrat-Light;
    height: 49px;
}
.sell-button:hover {
    opacity: 0.8;
}
.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    margin: 0;
    border: none;
    cursor: pointer;
    min-width: 80px;
    font-size: 15px;
    font-weight: bold;
    font-family: Montserrat-Light;
    height: 49px;
    /*width: calc(100% - 2px);*/
}
.buy-button:hover {
    opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
    border: none;
    padding: 4px 32px;
    color: white;
    background-color: #f44336;
    width: calc(100% - 2px);
}
/*!* Modal Content/Box *!*/
.form-modal-content {
    background-color: #000000f2;
    margin: 5% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
    border: none;
    /*border: 1px solid #888;*/
}
.form-modal-top-label{
    background-color: #4a4a4a5c;
    border-bottom: 1px solid #8080804f;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -37px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 10.75rem auto;
    }
}
/*********************************    Ranking Star Start    *************************************/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label { margin: 0; padding: 0; }
/****** Style Star Rating Widget *****/
.rating {
    border: none;
    float: left;
}
.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
}
.rating > label {
    color: #ddd;
    float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
/*********************************    Ranking Star  End     *************************************/
form {
    color: black;
    padding: 0;
}
form select, form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /*margin-top: 6px;*/
    /*margin-bottom: 16px;*/
    resize: vertical;
}
label.modal-title {
    color: white;
    font-family: Montserrat-Light;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 1px;
}
#review_amount {
    width: 240px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    text-align: right;
}
.span-review {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat-Light;
}
.a-wrap-btn {
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    display: block;
    border: 2px solid #aaaaaa5e;
    background: #11111147;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.a-wrap-btn:hover {
    text-decoration: none;
    color: gold;
    border-color: gold;
}
.form-control:focus {
    background-color: #ffffff01;
}
.button-hidden {
    display: none;
}
form textarea {
    height: 200px;
    background: #ffffff0f;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.span-comment {
    width: 200px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
     padding: 0;
}

.span-buy-nametitle {

}
.span-buy-nametitle:hover {
    color: gold;
}
.p-title {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-top: -10px;
    background-color: #0a0a0a;
    border: 2px solid #6f6f6f;
}
.last-td {
    width: 100px!important;
}